@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
.MainHat{
    color: aquamarine;
    font-size: 30px;
    text-align: center;
    word-spacing: 10px;
}
.di1{
    text-indent: 120px;
    color: rgb(253, 175, 233);
    font-size: 24px;
    font-weight: 500;
    border: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(71, 55, 64);
    border-radius: 0%;
    letter-spacing: 20px;
    line-height: 100px;
    text-align: center;
}
.di2{
    color: black;
}
a{
    text-align: center;
    color: black;
    font-family: cursive;   
}
.content{
    text-align: center;
}



body{
    background-color: rgb(88, 115, 138);
}
.photo img{
    position: absolute;
    left: 90vh;
    top: 50vh;
}

