@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}

h1.Mainhead{
    text-align: center;
    font-size: 60px;
    border-style:hidden;
    font-family: 'Akshar', sans-serif;
    background-color: rgb(30, 52, 92);
    color: azure;
}
.Navbar{
    border-style: none;
    border-color: rgb(255, 255, 255) ;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgb(40, 91, 103);
}
.Navbar ol{
    font-size: 26px;
    font-family: 'Akshar', sans-serif;
    display: inline;
    color: beige;
}
.Navbar a{
    text-decoration: none;
    margin-left: 20px;
    color: aliceblue;
}
.picture{
    text-align: center;
    margin-bottom: 20px;
}
.pics{
    text-align: center;
    margin-bottom: 20px;
}
.pics h2{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-size: 36px;   
}
.info h2{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-size: 36px;   
}
.contact{
    text-align: center;
    border: groove;
    border-radius: 40px;
    padding: 40px;
    border-width:thick;  
    padding: 20px;
    width: 30%;
    margin: auto;
    
}
.contact h1{
    font-family: 'Akshar', sans-serif;
    color: rgb(255, 255, 255);
}
.contact a{
    color: brown;
    padding-left: 10px;
    font-size: 40px;
    
}
.reg h1{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    padding-bottom: 20px;
}
fieldset{   
    display: block;
    text-align: center;
    border-style: none;

}
.boxtext fieldset{
    text-align: center;
}
.boxtext{
    font-size: 16px;
    background-color: #EEEEEE;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border-color: rgb(175, 175, 175) ;
    border-style: solid;
    border-width:thick;
    border-radius: 5%;
    line-height: 500%; 
}

.boxtext legend{
    font-family: 'Akshar', sans-serif;
    display: block;
    font-size: 30px;   
}
.boxtext label{
    text-align: center;
    padding: auto;
    font-size: 24px;
    font-family: 'Akshar', sans-serif;
    padding-bottom: 10%;

}
.boxtext h1{
    text-align: center;
    font-family: 'Akshar', sans-serif;
}
.boxtext input{
    text-align: center;
}

.calcugrade{
    font-size: 16px;
    background-color: #EEEEEE;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border-color: rgb(175, 175, 175) ;
    border-style: solid;
    border-width:thick;
    border-radius: 5%;
    line-height: 500%;
}
.calcugrade h1{
    text-align: center;
    font-family: 'Akshar', sans-serif;
}

.inCal{
    text-align: center;
}
.inCal input{
    font-size: 24px;
}
.z1{
    text-align: center;
}

body{
    background-color: rgb(180, 216, 255);
}